


.calculadora{
    display:block;
    margin:0 auto;
    padding: 20px;
    border-color: black;
    border-width: 10px;
    background-color: darkseagreen;
    width: 300px;
    height: 500px;
    border-radius: 25px;;
}


.calculadora td button{
    display:block;
    width:60px;
    height: 60px;
    font-size: 25px;

}

#resultado{
    display:block;
    text-align:center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 250px;
    height: 100px;
    line-height: 100px;
    background-color: azure;
    border-radius: 25px;
    overflow-y: scroll;
}

/*
#tituloCalculadora{
    padding: 10px;
}
*/

.titulos{
    color: rgb(53, 52, 52);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
}


.container{
    position: relative;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background:  rgb(203, 182, 223);
}

.container span{
    position: absolute;
    width: 50px;
    height:50px;
    box-shadow: 1px 1px 5px black(0,0,0,.3) ;
    border-radius: 5px;
    transition: 1s;
}