

.azul{
    background-color: blue;
    color: white;
    
}


.rojo{
    background-color: red;
    color: white;
}

.naranja{
    background-color: orange;
    color:white;
}

.verde{
    background-color: green;
    color: white
}

.reset{
    background-color: black;
    color: white;
}